.scroll-icon {
    width: 30px;
    height: 50px;
    border: 2px solid var(--primary);
    border-radius: 15px;
    position: absolute;
    overflow: hidden;

    animation: scroll-bounce 3s infinite;
}

.scroll-icon span {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--primary);
    position: absolute;
    top: 10px;
    left: 41%;
    animation: scroll-fade 1.75s infinite;
}

.scroll-icon:hover span {
    animation-duration: 0.5s;
}

@keyframes scroll-fade {
    0%,
    20% {
        transform:translateY(0) scaleY(1)
    }
    10% {
        opacity:1
    }
    to {
        transform:translateY(1.2em) scaleY(1.5);
        opacity:.01
    }
}

@keyframes scroll-bounce {
    0%,
    20% {
        transform:translateY(0)
    }
    50% {
        transform:translateY(-10px)
    }
    to {
        transform:translateY(0)
    }
}
